@use '../../scss/global' as *;

.container {
  &_schedule {
    background-color: $white;
    margin: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 1%;
    border: 1px solid $gray;
    width: 1058px;
    height: auto;
    color: $black;
    font-family: $open-sans;
    font-weight: bold;
    &_header {
      display: flex;
      flex-direction: row;
      width: 1058px;
      height: 56px;
      &_horario {
        width: 117px;
        border-right: 1px solid $gray;
        height: 56px;
        &_text {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 30px;
          text-align: center;
        }
      }
      &_caps {
        border-right: 1px solid $gray;
        width: 162px;
        height: 56px;
        &_text {
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 30px;
          text-align: center;
        }
      }
      &_capsSab {
        width: 162px;
        height: 100%;
      }
    }
    &_lineTime {
      position: relative;
      width: 1058px;
      height: 100%;
      &_caps {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid $gray;
        &_text {
          width: 114px;
          height: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          // border-right: 1px solid $gray;
          &_hour {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
          }
        }
        &_mini {
          width: 944px;
          display: flex;
          flex-direction: row;
          &_course {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 7px;
            padding-bottom: 7px;
            width: 151.14285714285714285714285714286px;
            // border-right: 1px solid $gray;
          }
          &_courseSat {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 7px;
            padding-bottom: 7px;
            width: 151.14285714285714285714285714286px;
          }
        }
      }
      &_capsEnd {
        display: flex;
        flex-direction: row;
      }
    }
    &_top {
      position: absolute;
      border-top: 1px solid $gray;
      margin-left: 1%;
      margin-right: 0.1%;
      width: 1035px;
      margin-top: 56px;
    }
  }
}
